.ruler {
  margin: 0 auto;
  max-width: 1620px;

  @media screen and (max-width: 1919px){
    max-width: 900px;
  }

  @media screen and (max-width: 1199px){
    max-width: 600px;
  }

  @media screen and (max-width: 639px){
    max-width: 300px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;

  @media screen and (max-width: 1919px){
    max-width: 900px;
  }

  @media screen and (max-width: 1199px){
    max-width: 600px;
  }

  @media screen and (max-width: 639px){
    max-width: 300px;
  }
}

.column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-2 {
  display: flex;
  justify-content: space-between;
}

.column-3 {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1199px){
    flex-direction: column;
    align-items: center;
  }
}